<!DOCTYPE html>
<html>
 <lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/metricsgraphics.css">
    <link rel='stylesheet' href='css/mg_line_brushing.css' />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.js"></script>
    <script src='js/mg_line_brushing.js'></script>

    <style>
        @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

        body {
            font-family: 'Source Sans Pro';
        }

        html {
            font-size: 12px;
        }
    </style>
</head>
<body>
<h2>Items of Note</h2>
replaceAnalysisHere
<br>
*MarketCap is based on most recent information from a third party. This is sometimes as old as the most recent end of FY4 for a company.
<hr>
<h2>Decisions</h2>
replaceInfoHere
<hr>
<h2>References</h2>
replaceLinksHere
<hr>
<h2>Decision Historical Graphs</h2>
Some information may not be present here due to lack of updated source information. Please compare with the Decisions above.
replaceDataHere
<hr>
</body>
</html>
