{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Welcome to Pharmakarma</h1>
  <p class="lead">This is a simple analysis tool to investigate potential pharmaceutical investment candidates.</p>
  <hr class="my-4">
  <p>Please enter a ticket below.</p>
  <form class="form-inline" method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.stockpick(placeholder='Enter Stock Ticker', class='form-control mr-sm-2', type="search")}}
    {{ form.submit(class="btn btn-outline-success my-2 my-sm-0")}}
</form>
</div>

{% endblock %}
